<div class="container">
  <div id="app-todo-input">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Todo..." ng-model="main.input.text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="main.add()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>

  <div id="app-todo-items">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="todo in main.todos">{{todo.text}}</li>
    </ul>
  </div>
</div>
